*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.controler{
    height: 100vh;
    transform: translateY(-20%);
    width: 300px;
    display: grid;
    margin: 0 auto;
    align-content: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,100px);
}
.controler button{
    font-size: 4rem;
    border: 1px solid black;
}

.l{
    border-left: none !important;
}
.r{
    border-right: none !important;
}
.t{
    border-top: none !important;
}
.b{
    border-bottom: none !important;
}