* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  height: 100vh;
  background-image: linear-gradient(
    to top,
    #30cfd0 0%,
    #330867 100%
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.btn {
  color: #ffffff;
  border-radius: 7px;
  cursor: pointer;
  background-color: #5d5d5d5c;
  text-shadow: 0 0 40px #d9e102;
}
.btn:hover{
  box-shadow: 0 0 50px #d9e102;
}
.user :where(p,div){
    color: Green;
}
.computer :where(p,div){
    color: red;
}
.status :where(p,h3){
    color: #ffffff;
}
.controler {
    max-width:   300px;
    display: grid;
    margin: 0 auto;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
}
.controler button {
    font-size: 4rem;
  border: 1px solid black;
}

.l {
  border-left: none !important;
}
.r {
  border-right: none !important;
}
.t {
  border-top: none !important;
}
.b {
  border-bottom: none !important;
}
.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 20px;
}
:root {
  --family: sans-serif;
  --fl1: 0 0 10%;
  --fl05: 0 0 5%;
  --fl16: 0 0 16.67%;
  --fl2: 0 0 20%;
  --fl25: 0 0 25%;
  --fl3: 0 0 30%;
  --fl33: 0 0 33.3334%;
  --fl4: 0 0 40%;
  --fl5: 0 0 50%;
  --fl6: 0 0 60%;
  --fl7: 0 0 70%;
  --fl75: 0 0 75%;
  --fl8: 0 0 80%;
  --fl9: 0 0 90%;
  --fl10: 0 0 100%;
  --fl11: 1 0 0;
  --mc: #020087;
  --hc: #000a52;
  --mbg: var(--mc);
  --container: 400px;
  --hmc: #000947;
  --hms: 3rem;
  --hmic: #07004a;
  --hmis: 1.8rem;
  --pmc: #080038;
  --pms: 1.09rem;
  --pmic: #080038;
  --pmis: 0.85rem;

  --c1: #ffffff;
  --c2: red;
  --c3: red;
  --c4: red;
  --c5: red;
}

.c {
  text-align: center;
}

.f {
  display: flex;
}

.fw {
  flex-wrap: wrap;
}

.fdc {
  flex-direction: column;
}

.jcc {
  justify-content: center;
}

.jce {
  justify-content: end;
}

.jcsb {
  justify-content: space-between;
}

.jcsa {
  justify-content: space-around;
}

.jcse {
  justify-content: space-around;
}

.aic {
  align-items: center;
}
.dfa {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p {
  padding: 10px;
}

.p5 {
  padding: 5px;
}

.m {
  margin: 10px;
}

.m5 {
  margin: 5px;
}

.f1 {
  flex: var(--fl1);
}

.f16 {
  flex: var(--fl16);
}

.f2 {
  flex: var(--fl2);
}

.f3 {
  flex: var(--fl3);
}

.f33 {
  flex: var(--fl33);
}

.f4 {
  flex: var(--fl4);
}

.f5 {
  flex: var(--fl5);
}

.f6 {
  flex: var(--fl6);
}

.f7 {
  flex: var(--fl7);
}

.f75 {
  flex: var(--fl75);
}

.f8 {
  flex: var(--fl8);
}

.f9 {
  flex: var(--fl9);
}

.f10 {
  flex: var(--fl10);
}

.fa {
  flex: var(--fl11);
}

.f05 {
  flex: var(--fl05);
}
.cp {
  cursor: pointer;
}
img[src] {
  width: 100%;
}

.hm {
  font-size: var(--hms);
  color: var(--hmc);
}

.pm {
  font-size: var(--pms);
  color: var(--pmc);
}

.pmi {
  font-size: var(--pmis);
  color: var(--pmic);
}

.hmi {
  font-size: var(--hmis);
  color: var(--hmic);
}

.mbg {
  background-color: var(--mc);
}

.hc {
  color: var(--hc);
}

.hbg {
  background-color: var(--hc);
}
.mc {
  color: var(--mc);
}

.c1 {
  color: var(--c1);
}
.c2 {
  color: var(--c2);
}
.c3 {
  color: var(--c3);
}
.c4 {
  color: var(--c4);
}
.c5 {
  color: var(--c5);
}

.bg1 {
  background-color: var(--c1);
}
.bg2 {
  background-color: var(--c2);
}
.bg3 {
  background-color: var(--c3);
}
.bg4 {
  background-color: var(--c4);
}
.bg5 {
  background-color: var(--c5);
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* CSS */
.button-89 {
  --b: 2px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #373b44;

  padding: calc(0.4em + var(--s)) calc(0.5em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 13px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: #000;
  overflow: hidden;
  position: absolute;
  z-index: -13234;
  top: 0;
}

.glowing {
  position: relative;
  min-width: 700px;
  height: 550px;
  margin: -150px;
  transform-origin: right;
  animation: colorChange 5s linear infinite;
}

.glowing:nth-child(even) {
  transform-origin: left;
}

@keyframes colorChange {
  0% {
    filter: hue-rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
    transform: rotate(360deg);
  }
}

.glowing span {
  position: absolute;
  top: calc(80px * var(--i));
  left: calc(80px * var(--i));
  bottom: calc(80px * var(--i));
  right: calc(80px * var(--i));
}

.glowing span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  width: 15px;
  height: 15px;
  background: #f00;
  border-radius: 50%;
}

.glowing span:nth-child(3n + 1)::before {
  background: rgba(134, 255, 0, 1);
  box-shadow: 0 0 20px rgba(134, 255, 0, 1), 0 0 40px rgba(134, 255, 0, 1),
    0 0 60px rgba(134, 255, 0, 1), 0 0 80px rgba(134, 255, 0, 1),
    0 0 0 8px rgba(134, 255, 0, 0.1);
}

.glowing span:nth-child(3n + 2)::before {
  background: rgba(255, 214, 0, 1);
  box-shadow: 0 0 20px rgba(255, 214, 0, 1), 0 0 40px rgba(255, 214, 0, 1),
    0 0 60px rgba(255, 214, 0, 1), 0 0 80px rgba(255, 214, 0, 1),
    0 0 0 8px rgba(255, 214, 0, 0.1);
}

.glowing span:nth-child(3n + 3)::before {
  background: rgba(0, 226, 255, 1);
  box-shadow: 0 0 20px rgba(0, 226, 255, 1), 0 0 40px rgba(0, 226, 255, 1),
    0 0 60px rgba(0, 226, 255, 1), 0 0 80px rgba(0, 226, 255, 1),
    0 0 0 8px rgba(0, 226, 255, 0.1);
}

.glowing span:nth-child(3n + 1) {
  animation: animate 10s alternate infinite;
}

.glowing span:nth-child(3n + 2) {
  animation: animate-reverse 3s alternate infinite;
}

.glowing span:nth-child(3n + 3) {
  animation: animate 8s alternate infinite;
}

@keyframes animate {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-reverse {
  0% {
    transform: rotate(360deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
